<div class="hero-banner container" >
  <p class="hero-pill">Connecting talent with opportunity</p>
  <h1>SkillBridge Where Talents Meet Start-up.</h1>
  <p>Bridges the gap between ambitious individual seeking real-world experience and startups looking for fresh talent.</p>
  <%= link_to "Get Started", projects_path %>
</div>
