<div class="container w-75 shadow-lg rounded-4 mt-4">
<h2 class="my-3"><strong>Saved Projects</strong></h2>

  <% if @saved_projects.any? %>
    <div class="bg-dark rounded-4 shadow-lg p-1 mb-4">
      <table class="table mb-0">
        <tr>
          <th><strong>Project</strong></th>
          <th><strong>Category</strong></th>
          <th><strong>Actions</strong></th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <% @saved_projects.each do |project| %>
          <tr>
            <td><%= project.project_title %></td>
            <td><%= project.category %></td>
            <td>
              <%= link_to "Details", project_path(project), class: "btn btn-sm btn-primary px-2 rounded-3 mt-auto" %>
            </td>
            <td>
              <%= button_to unsave_project_path(project), method: :delete, class: "btn border-0 p-0 bg-transparent" do %>
                  <i class="bi bi-bookmark-fill text-dark fs-5"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  <% else %>
    <p>No saved projects yet.</p>
  <% end %>
</div>
