
.featured-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 1.5rem;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .featured-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4{
      margin: 0;
    }

    span{
      width: auto;
      color: #4AD03B;
      font-size: 0.75rem;

    }
  }
  .company-info{
    color: darkgray;
    margin:4px 0;

  }

  .project-brief{
    margin: 1rem 0;
  }
  .skills {
    color: $text;
    width: auto;
  }

  .skills-info{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  span.pill.skills {
  display: inline-block !important;
  width: auto !important;
  max-width: fit-content !important;
}
  .btn{
    width: 100%;
  }

}
