.form {
  width: 50%;
  padding: 2rem;

  input{
    border-radius: 8px;
  }
  .btn {
    width: auto;
    background-color: $primary;
    color: white;
  }

  .btn-primary{
    background-color: #1A80E5;
  }
   .links {
    margin-top: 1rem;
   }
}
