h2 {
  margin: 3rem auto;
  text-align: center;
}

.get-start {
  width: 75%;
  margin: 1rem auto;
  padding: 1.5rem 0;

  .btn{

    &:hover {
      transform: scale(1.05);
    }
  }
}

.rew-sec{
padding-bottom: 6rem;
padding-top: 1.5rem;
}

.employer {
  background-color:#F9FAFB ;
  padding-bottom: 2rem;
}

.button{
    text-align: center;
    margin-top: 3rem;
    width: 100%;
  }

.featured {
  padding-bottom: 3rem;
}
.review{
  background-color: #F9FAFB;
}

.bottom-cta {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0;


  h2, p{
    color: white;
    width: 40%;
    text-align: center;
  }
  h2{
    margin: 1rem;
  }


  .btn-candidate{
    background-color: #3F54EB;
    border: 1px solid white;
    color: white;
    margin-right: 0.5rem;

    &:hover {
      background-color: $primary;
      transform: scale(1.05);
    }
  }

  .btn-secondary {

    &:hover {
      transform: scale(1.05);
    }
  }


}
