
.profile-pic{

  width:40rem;
  margin: 0 auto;
}
h4 {
  margin-top: 1.5rem;
  margin-left:9rem;
}
h1{
  text-align: center;
  margin-bottom: 5rem;
}
.image{
  border-radius: 100rem;
}
.content{
 position:relative;
  bottom:13rem;
  left:33rem;
  width:40rem;
  margin: 0 auto;
}
h2{
  position:relative;
  bottom:5rem;

}
.cv{
  position: relative;
  bottom:5rem;
  right:3rem;
  text-align: center;
}
